<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>articles.title</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="'action.refresh' | translate"
      refreshingSpinner="circles" [refreshingText]="'general.loadingText' | translate">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="page" [class.has-main-image]="mainImageDataUrl$|async" class="article-tile">
    <div class="aspect-ratio ar-2-1">
      <div class="ar-content main-image" [style.background-image]="mainImageDataUrl$|async">
      </div>
    </div>

    <ion-card-content>
      <ion-card-title class="title" [innerHTML]="page.title"></ion-card-title>
      <ion-card-subtitle *ngIf="authorsString" translate [translateParams]="{authorsString: authorsString}">articles.authorsMeta</ion-card-subtitle>

      <div class="meta" translate [translateParams]="{date: page.datetime_from | amFromUnix | amDateFormat:'d.M.YYYY' }">
        articles.meta
      </div>

      <div class="intro" [innerHTML]="page.intro"></div>

      <app-content-blocks *ngIf="page.contents" [contents]="page.contents"></app-content-blocks>
        <!-- <app-inhaltselement *ngFor="let inhalt of page.contents" [inhalt]="inhalt"></app-inhaltselement> -->

    </ion-card-content>
  </ion-card>

</ion-content>