<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>articles.title</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/articles"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      [pullingText]="'action.refresh' | translate" refreshingSpinner="circles"
      [refreshingText]="'general.loadingText' | translate">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="article$ | async as article; else loading"
    [class.has-main-image]="mainImageDataUrl$|async" class="article-tile">
    <div class="aspect-ratio ar-2-1">
      <div class="ar-content main-image"
        [style.background-image]="mainImageDataUrl$ | async">
      </div>
    </div>

    <ion-card-content>
      <ion-card-title class="title" [innerHTML]="article.title"></ion-card-title>
      <ion-card-subtitle *ngIf="article.authorsString" translate
        [translateParams]="{authorsString: article.authorsString}">articles.authorsMeta
      </ion-card-subtitle>

      <div class="meta" translate
        [translateParams]="{date: article.datetime_from | amFromUnix | amDateFormat:'d.M.YYYY' }">
        articles.meta
      </div>

      <div class="intro" [innerHTML]="article.intro"></div>

      <app-content-blocks *ngIf="article.contents" [contents]="article.contents">
      </app-content-blocks>

    </ion-card-content>
  </ion-card>

  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>

</ion-content>